# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.venv-1/
*.egg-info/

# Data & uploads (ne pushaj osobne logove i bazu)
data/

# Environment
.env

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db